* {
    margin: 0;
}
html,body{
    background: #ffffff;
}

.container {
    padding-bottom: 35px;
}
.account-panel {
    width: 92%;
    height: 90px;
    margin: 10px auto;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    background: -webkit-linear-gradient(215deg,#a46bff,#786cff);
    background: linear-gradient(-125deg,#a46bff,#786cff);
    -webkit-box-shadow: 0 5px 22px 0 rgb(0 0 0 / 26%);
    box-shadow: 0 5px 22px 0 rgb(0 0 0 / 26%);
    align-items: center;
}
.panel-label {
    font-size: 16px;
}
.panel-balance {
    text-align: right;
    font-size: 23px;
    flex: 1;
}
.recharge-panel {
    margin-top: 30px;
    padding: 0 20px;
}
.recharge-label {
    height: 30px;
    margin: 10px auto;
    padding: 0 20px;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    background: -webkit-linear-gradient(215deg,#a46bff,#786cff);
    background: linear-gradient(-125deg,#a46bff,#786cff);
    -webkit-box-shadow: 0 5px 22px 0 rgb(0 0 0 / 26%);
    box-shadow: 0 5px 22px 0 rgb(0 0 0 / 26%);
    align-items: center;
    display: flex!important;
}

.left{ float:left; width:320px;}
.right{ float:right; }

.recharge-label1 {
    color: #333;
    font-size: 14px;
    margin-bottom: 12px;
    margin-top: 5px;
}

.recharge-plan-item {
    width: 98%;
    height: 40px;
    padding: 6px 0;
    float: left;
    color: #888;
    border: 1px solid #e4e4e4;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.recharge-plan-item.active {
    color: #786cff;
    border: 1px solid #786cff;
}
.plan-name {
    font-size: 20px;
    color: #525252;
    margin-left: 10px;
}
.recharge-plan-item.active .plan-name {
    color: #786cff;
}
.plan-desc {
    font-size: 14px;
    color: #ec1a13;
    margin-right: 10px;
}
.recharge-submit {
    clear: both;
}
.recharge-submit .button {
    font-size: 15px;
    background: #786cff;
    border: none;
    color: #fff;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0 60px;
    line-height: 3;
    width: 100%;
}
.recharge-describe {
    margin-top: 25px;
    padding: 0 30px;
}
.recharge-label {
    color: #333;
    font-size: 14px;
    margin-bottom: 12px;
}
.recharge-content {
    font-size: 13px;
    line-height: 1.6;
    color: #888;
}

.empty {
    z-index: 99;
    padding: 55px 27px;
    text-align: center;
}

.empty img {
    width: 154px;
    height: 100%;
    margin-bottom: 24px;
}

.empty p {
    font-size: 14px;
    color: grey;
}
