@charset "utf-8";

* {
	margin: 0;
	padding: 0
}

*,
::after,
::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

br,
li,
p,
ul {
	list-style: none
}

img {
	vertical-align: middle;
	width: 100%
}

a {
	text-decoration: none;
	outline: 0;
	-webkit-tap-highlight-color: transparent;
	color: inherit
}

i {
	font-style: normal
}

:focus {
	outline: 0
}

a:hover {
	text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400
}

a,
button,
input,
label,
li,
select {
	-webkit-tap-highlight-color: transparent;
	/*-webkit-appearance: none*/
}

button,
input,
select,
textarea {
	font-family: "微软雅黑", "Helvetica Neue", Arial, "Hiragino Sans GB", "PingFang SC", "Heiti SC", STHeiti, "Microsoft Yahei", "Source Han Sans SC", "Noto Sans CJK SC", "Droid Sans Fallback", sans-serif;
	border: 0
}

::placeholder {
	color: #999
}

button {
	cursor: pointer
}

body {
	font-family: "微软雅黑", "Helvetica Neue", Arial, "Hiragino Sans GB", "PingFang SC", "Heiti SC", STHeiti, "Microsoft Yahei", "Source Han Sans SC", "Noto Sans CJK SC", "Droid Sans Fallback", sans-serif;
	font-size: .24rem;
	max-width: 750px;
	margin: 0 auto;
	background-color: rgb(8, 33, 109);
}

.red {
	color: red
}

#mao {
	position: absolute;
	top: -7%
}

[v-cloak] {
	display: none
}

.cardFormBg {
	position: relative;
	width: 100%;
	margin: 20px 0;
}

.getCardForm {
	width: 90%;
	border-radius: .3rem;
	margin: auto;
	padding: .3rem .45rem;
	background: #a9cc90;
}

.getCardForm-tengxun {
    width: 90%;
    border-radius: .3rem;
    margin: auto;
    padding: .3rem .45rem;
    background: #171228;
    border-style:inset;
    border-color: #B773EA;
}

.getCardForm-dtl {
	width: 90%;
	border-radius: .3rem;
	margin: auto;
	padding: .3rem .45rem;
	background: #031032;
	border-style:inset;
	border-color: #B773EA;
}

.cardForm {
	width: 100%
}

.cardForm i {
	font-size: .25rem
}

.cardForm>li {
	background: #ffffff;
	border-radius: .2rem;
	display: flex;
	line-height: .5rem;
	padding: .1rem .2rem;
	margin-bottom: .2rem
}

.form-title {
	color: #476432;
	font-size: .28rem
}

.form-title>i {
	font-size: .18rem
}

.form-content {
	flex: 1;
	-webkit-flex: 1;
	text-align: right
}

.form-content>textarea {
	resize: none;
	flex: 1;
	-webkit-flex: 1;
	width: 90%;
	font-size: .25rem
}

.form-content input {
	background-color: #ffffff;
	flex: 1;
	-webkit-flex: 1;
	text-align: right;
	width: 100%;
	font-size: .25rem
}

.cardForm .form-address {
	background: 0 0;
	padding: 0
}

.address {
	color: #000
}

.det_adr {
	flex-direction: column
}

.det_adr>.form-content {
	display: flex;
	align-items: center;
	justify-content: center
}

.goBtn {
	width: 100%;
	height: .9rem;
	line-height: .9rem;
	font-size: .48rem;
	/* color: #353535; */
	color:#566e47;
	letter-spacing: .05rem;
	border-radius: .5rem;
	text-align: center;
	margin: .3rem auto 0;
	/* background: linear-gradient(#e0e0e0, #888, #e0e0e0); */
	background: #ffffff;
	animation: 1s ease 0s infinite normal none running move;
	margin-top: .5rem;
}

.goBtn-tengxun {
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    font-size: .48rem;
    /* color: #353535; */
    color:#FECDEB;
    letter-spacing: .05rem;
    border-radius: .5rem;
    text-align: center;
    margin: .3rem auto 0;
    /* background: linear-gradient(#e0e0e0, #888, #e0e0e0); */
    background: #1D142C;
    animation: 1s ease 0s infinite normal none running move;
    margin-top: .5rem;
    border-width: 5px;
    border-style: solid;
    border-color: #030EC0;
}

.goBtn-dtl {
	width: 100%;
	height: .9rem;
	line-height: .9rem;
	font-size: .48rem;
	/* color: #353535; */
	color: #fbfbff;
	letter-spacing: .05rem;
	border-radius: .5rem;
	text-align: center;
	margin: .3rem auto 0;
	/* background: linear-gradient(#e0e0e0, #888, #e0e0e0); */
	background: #fe7370;
	animation: 1s ease 0s infinite normal none running move;
	margin-top: .5rem;
	border-width: 5px;
	border-style: solid;
}


.w-select-input .form-content {
	padding-right: 6px;
}

.w-select-input::after {
	content: '';
	position: absolute;
	right: 4px;
	top: 14px;
	width: 8px;
	height: 4px;
	background-position: center;
	background-size: contain;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
}

.regname {
	color: #fff;
	margin-bottom: .2rem
}

.regname>span {
	color: #ff5939
}

.tips {
	display: block;
	font-size: .18rem;
	color: #050000
}

.regadr i {
	color: red;
	font-size: .3rem
}

@keyframes move {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(.95);
	}

	100% {
		transform: scale(1);
	}
}

.fixed-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	margin: auto
}
.goBtn2 {
	width: 7.5rem;
	height: 1rem;
	border-radius: .5rem;
	font-size: .46rem;
	color: #566e47;
	letter-spacing: .05rem;
	font-weight: 700;
	background: #ffffff;
}

.goBtn2-tengxun {
    width: 7.5rem;
    height: 1rem;
    border-radius: .5rem;
    font-size: .46rem;
    color: #FECDEB;
    letter-spacing: .05rem;
    font-weight: 700;
    background: #1D142C;
    border-width: 5px;
    border-style: solid;
    border-color: #030EC0;
}

.addr_overlay {
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background: rgba(0, 0, 0, .75)
}

.addr_overlay .contents {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 90%;
	background-color: #fff;
	bottom: 0;
	left: 0;
	visibility: visible;
	border-radius: 10px 10px 0 0
}

.addr_overlay .title {
	position: relative;
	font-size: .36rem;
	margin: 0;
	padding: 0;
	display: block;
	font-weight: 400;
	color: #404040;
	text-align: center;
	height: 1.22rem;
	line-height: 1.22rem;
	margin: 0 .2rem;
	border-bottom: 1px solid #d3d3d3
}

.addr_overlay .subtitle {
	display: flex;
	height: .9rem;
	line-height: .9rem;
	color: #878787;
	font-size: .36rem;
	overflow: hidden
}

.addr_overlay .subtitle>div {
	flex: 1 1 100%;
	text-align: center
}

.addr_overlay .wrapper {
	font-size: .3rem;
	color: #878787
}

.addr_overlay .wrapper>div {
	line-height: .4rem
}

.addr_overlay .wrapper>div:last-child {
	padding-bottom: 1rem
}

.addr_overlay .addr {
	display: flex;
	height: 100%
}

.addr_overlay .addr>div {
	flex: 1 1 100%;
	height: 85%;
	overflow: auto;
	font-size: 16px;
	text-align: center
}

.addr_overlay .chosen {
	color: red
}

.address-border {
	padding: 10px 5px;
	text-align: center;
	font-size: .3rem
}

.region-sel-title {
	font-size: .4rem;
	display: inline-block;
	width: 3.2rem
}

.region-sel-cancel {
	position: absolute;
	left: .22rem;
	font-size: .315rem;
	color: #e94643;
	display: inline-block;
	line-height: .5rem;
	height: .5rem;
	margin-top: .35rem;
	border-radius: .5rem;
	width: 1.5rem;
	font-weight: 800
}

.region-sel-confirm {
	position: absolute;
	margin-left: .3rem;
	font-size: .315rem;
	color: #e94643;
	display: inline-block;
	line-height: .5rem;
	height: .5rem;
	margin-top: .35rem;
	border-radius: .5rem;
	width: 1.5rem;
	font-weight: 800
}

.pop {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .8);
	z-index: 501;
	text-align: center
}
.pop1 {
	position: relative;
	top: 50%;
	margin: auto;
	transform: translateY(-50%);
	width: 83%;
	margin: auto;
	background: #fff;
	border-radius: .2rem;
}
.tip {
	max-height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
	padding: .6rem .4rem;
	font-size: .28rem
}
.pop1 .btn {
	padding: 6px 0;
	color: #089cff;
	font-size: 14px;
	border-radius: 0.2rem;
}

.MC {
	z-index: 600
}

.DW {
	position: relative;
	left: 0;
	top: 6rem
}
.pop {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .8);
	z-index: 501;
	text-align: center
}
.loader {
	box-sizing: border-box;
	display: flex;
	flex: 0 1 auto;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 25%;
	max-width: 10%;
	height: 1rem;
	width: 1.1rem;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 0 .3rem .4rem .1rem
}
.loading {
	border-radius: 1rem;
	font-size: .3rem;
	margin: .3rem auto 0;
	text-align: center;
	color: #089cff
}

.ball-spin-fade-loader {
	position: relative
}

.ball-spin-fade-loader>div {
	background-color: #089cff;
	width: .15rem;
	height: .15rem;
	border-radius: 100%;
	margin: .01rem;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	position: absolute
}

.ball-spin-fade-loader>div:nth-child(1) {
	top: .3rem;
	left: 0;
	-webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
	animation: ball-spin-fade-loader 1s 0s infinite linear
}

.ball-spin-fade-loader>div:nth-child(2) {
	top: .2rem;
	left: .2rem;
	-webkit-animation: ball-spin-fade-loader 1s .12s infinite linear;
	animation: ball-spin-fade-loader 1s .12s infinite linear
}

.ball-spin-fade-loader>div:nth-child(3) {
	top: 0;
	left: .3rem;
	-webkit-animation: ball-spin-fade-loader 1s .24s infinite linear;
	animation: ball-spin-fade-loader 1s .24s infinite linear
}

.ball-spin-fade-loader>div:nth-child(4) {
	top: -.2rem;
	left: .2rem;
	-webkit-animation: ball-spin-fade-loader 1s .36s infinite linear;
	animation: ball-spin-fade-loader 1s .36s infinite linear
}

.ball-spin-fade-loader>div:nth-child(5) {
	top: -.3rem;
	left: 0;
	-webkit-animation: ball-spin-fade-loader 1s .48s infinite linear;
	animation: ball-spin-fade-loader 1s .48s infinite linear
}

.ball-spin-fade-loader>div:nth-child(6) {
	top: -.2rem;
	left: -.2rem;
	-webkit-animation: ball-spin-fade-loader 1s .6s infinite linear;
	animation: ball-spin-fade-loader 1s .6s infinite linear
}

.ball-spin-fade-loader>div:nth-child(7) {
	top: 0;
	left: -.3rem;
	-webkit-animation: ball-spin-fade-loader 1s .72s infinite linear;
	animation: ball-spin-fade-loader 1s .72s infinite linear
}

.ball-spin-fade-loader>div:nth-child(8) {
	top: .2rem;
	left: -.2rem;
	-webkit-animation: ball-spin-fade-loader 1s .84s infinite linear;
	animation: ball-spin-fade-loader 1s .84s infinite linear
}

@keyframes ball-spin-fade-loader {
	10% {
		opacity: .3;
		-webkit-transform: scale(.1);
		transform: scale(.1)
	}

	50% {
		opacity: .3;
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@-webkit-keyframes ball-spin-fade-loader {
	10% {
		opacity: .3;
		-webkit-transform: scale(.1);
		transform: scale(.1)
	}

	50% {
		opacity: .3;
		-webkit-transform: scale(.5);
		transform: scale(.5)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

.collapse-container {
	margin: 10px 0;
	text-align: center;
}
.collapse-container .collapse-btn {
	color: rgb(130, 129, 129);
	border-color: rgb(130, 129, 129);
	display: inline-block;
	padding-right: 14px;
}
.collapse-show:after {
	content: "";
	display: inline-block;
	margin-left: 4px;
	border-top: 6px solid;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
.collapse-hide:after {
	content: "";
	display: inline-block;
	margin-left: 4px;
	border-bottom: 6px solid;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
.collapse-text {
	color: rgb(204, 204, 204);
	padding: 0 10px;
	font-size: 14px;
	text-align: left;
}
.user-read {
	margin: 10px 0;
	color: #fff;
}
.user-read input {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
}
.user-read span {
	vertical-align: middle;
	font-size: 14px;
}
.user-read span a {
	color: #0816ff;
}
.btn-img {
	position: relative;
}

.wenzi {
	position: absolute;
	top: 10px;
	right: 20px;
	border-radius: 20px;
	background: #ade8a2;
	font-size: 12px;
}
