<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="order">
			<div class="order-list">
				<div class="swiper-container" id="order-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -22px -22px;"></span>
								<span>来自日照市199****1788的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -22px -96px;"></span>
								<span>来自济宁市138****0971的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -22px -170px;"></span>
								来自吉林市158****0369的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -22px -244px;"></span>
								<span>来自南京市177****7474的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -96px -22px;"></span>
								<span>来自深圳市186****2331的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -96px -96px;"></span>
								<span>来自重庆市183****0761的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -96px -170px;"></span>
								<span>来自芜湖市149****1266的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -96px -244px;"></span>
								<span>来自成都市133****4574的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -170px -22px;"></span>
								<span>来自商丘市180****1724的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -170px -96px;"></span>
								<span>来自沈阳市151****3056的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -170px -170px;"></span>
								<span>来自济南市133****53562的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -170px -244px;"></span>
								<span>来自郑州市157****8843的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -244px -22px;"></span>
								<span>来自开封市138****3771的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -244px -96px;"></span>
								<span>来自新泰市188****6598的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -244px -170px;"></span>
								<span>来自广州市153****5499的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -244px -244px;"></span>
								<span>来自济南市153****9404的用户已领取</span>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="order-item">
								<span class="avatar" style="background-position: -318px -22px;"></span>
								<span>来自烟台市136****6070的用户已领取</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:fragment="comment">
			<div class="comment">
				<div class="swiper-container" id="comment-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -20px -20px"></div>
								<div>
									<div>〝好**昧づ</div>
									<div>这个流量卡超级好用，每个月省了我好多钱。</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -70px -20px;"></div>
								<div>
									<div>寻**半</div>
									<div>用了好几天挺不错的。</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -120px -20px;">
								</div>
								<div>
									<div>Empty**凉城</div>
									<div>网速很快，还便宜。</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -170px -20px;">
								</div>
								<div>
									<div>约定の**福</div>
									<div>真的不错，很划算。</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -220px -20px;">
								</div>
								<div>
									<div>浮伤**青春</div>
									<div>网速杠杠的，费用美美的</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -270px -20px;">
								</div>
								<div>
									<div>丶今**人笑</div>
									<div>物美价廉~</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -320px -20px;">
								</div>
								<div>
									<div>最后**夏天</div>
									<div>手机套餐好实惠，经济实用。</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -370px -20px;">
								</div>
								<div>
									<div>温**风</div>
									<div>手机卡到的很快，激活顺利，套餐价格优惠，满意！</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -420px -20px;">
								</div>
								<div>
									<div>一曲**弘梦</div>
									<div>上网超级好用不卡顿</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -470px -20px;">
								</div>
								<div>
									<div>心**惜</div>
									<div>用了一段时间感觉还是很不错的。</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -520px -20px;">
								</div>
								<div>
									<div>暖**</div>
									<div>真心觉得很合算，这么多流量都用不完</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -570px -20px;">
								</div>
								<div>
									<div>蓝se**蝶</div>
									<div>很好，到达时间快，便宜优惠，服务周到</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -620px -20px;">
								</div>
								<div>
									<div>似**生っ、</div>
									<div>这个套餐挺实惠的，快递很快。</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -670px -20px;">
								</div>
								<div>
									<div>第N**爱</div>
									<div>套餐特别优惠，上网也很好用</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -720px -20px;">
								</div>
								<div>
									<div>淺夢**罙醒</div>
									<div>挺好的，网速很快啊</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="comment-item">
								<div class="avatar" style="background-position: -770px -20px;">
								</div>
								<div>
									<div>陌丶上**遥</div>
									<div>到货时间很快，激活也很方便</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:fragment="collapse">
			<div class="collapse-container">
				<span class="collapse-btn collapse-show" v-show="!showDetail" @click="toggleDetail()">点击展开</span>
				<div class="collapse-content" v-show="showDetail">
					<p class="collapse-text">
						【温馨提示】<br/>
						1．套餐月基本费：即当月激活免费，参与存100送240，享首年28元/月，套餐内包含：50GB全国通用流量+300分钟语音+30G爱奇艺、腾讯视频、优酷视频、西瓜视频、抖音短视频、抖音火山版、快手、网易云音乐等应用定向流量。<br/>
						2．订购当月赠送30元话费，激活即可使用，不退返现金，不可抵扣国际业务、港澳台业务通信费和SP/CP等代收费用，赠送话费有效期截止激活后当月月底。<br/>
						3．激活后立即生效。首月执行过渡期资费，订购当月套餐月基本费按日计扣（入网当日到月底），费用四舍五入到分；套餐内容（语音、流量）按照对应流量和分钟数按天折算，向上取整。<br/>
						4 . 全国接听免费，赠送来电显示、天翼云盘-免费版、189邮箱-免费版。<br/>
						5．套餐超出资费：<br/>
						国内通用流量：套外流量计费规则：前167MB按0.03元/MB收费，达到167MB时，额外赠送用户857MB流量（即5元/GB）；后续仍按上述规则收费（即每超出1GB按照5元/GB收费）。当月满95g关闭上网功能，国内通话超出：0.1元/分钟，不足1分钟部分按1分钟计。国内短/彩信：0.1元/条。其他业务按照标准资费执行，国内通话和接听免费范围不包括港澳台地区。<br/>
						6．手机上网流量仅限中国大陆境内使用,不含 WLAN(Wi-Fi)上网。<br/>
						7．可订购各类流量包、语音包及短/彩信包产品。<br/>
						8．套餐内所含定向流量的计费层级高于所有流量产品，包括主套餐、各种其他流量包和流量卡。<br/>
						9．流量最小计费单元为KB,不足1KB部分按1KB计，不足1分钱的按1分钱计收。<br/>
						10．本套餐为组合套餐，其中30GB定向流量、65G通用流量、300分钟语音为组合与赠送部分。订购当月生效，不享受流量不清零服务，每月清零，不可结转。若变更套餐或取消，则套餐无法享受本优惠活动。<br/>
						所有APP“专属流量”使用说明<br/>
						（一）在电信网络下，使用对应免流APP产生的流量；<br/>
						（二）所使用的APP需升级到最新版本；<br/>
						（三）注册所有APP手机号码需与本机号码一致。<br/>
						专属流量不适用范围<br/>
						（一）在无线上网卡、移动WIFI、MIFI、平板电脑（如ipad）等设备使用时；<br/>
						（二）将手机号码作为手机热点使用时；<br/>
						（三）使用网络加速器、代理服务器、VPN等工具时；<br/>
						（四）在国际地区、港澳台使用时；<br/>
						（五）通过APP STORE或安卓市场等下载/更新应用时；<br/>
						（六）应用内开机广告及第三方广告时产生的流量；所有上传产生的流量。<br/>
						（七）应用中访问外部链接或转发到外部应用产生的流量；<br/>
						（八）APP内直播业务均不免流；<br/>
						（九）所有APP内的第三方提供的网页（手机百度搜索跳转的第三方网页除外）视频、图片、广告、应用下载等服务，例如手机新闻网、搜狗、携程、京东等非百度业务。<br/>
						12.购买须知<br/>
						1、限量发售，本套餐同一用户，电话，30天内只能办理一张，30天后可再次申请；<br/>
						2、发货后超过20天未激活，系统将自动注销；<br/>
						3、未满16周岁及60周岁以上用户不能办理入网；<br/>
						4、一证5号已满（实名五张电信卡的用户）不能办理；<br/>
						5、新疆 西藏 云南 海南 长沙 北京为禁发地区；<br/>
						6、套餐内包含80G流量，其中50G全国通用流量，30G定向流量。当月满95G关闭上网功能，次月初自动恢复。<br/>
						7、首月执行过渡期资费，订购当月套餐月基本费按日计扣（入网当日到月底），费用四舍五入到分，套餐内容（语音、流量）按照对应流量和分钟数按天折算，向上取整。<br/>
						8、全国流量号码可全国使用，不受号码归属地限制，号码享受优惠受归属地影响<br/>
						客服电话：4008005053
					</p>
					<span class="collapse-btn collapse-hide" @click="toggleDetail()">点击收起</span>
				</div>
			</div>
		</div>
		<div th:fragment="collapse95">
			<div class="collapse-container">
				<span class="collapse-btn collapse-show" v-show="!showDetail" @click="toggleDetail()">点击展开</span>
				<div class="collapse-content" v-show="showDetail">
					<p class="collapse-text">
						【温馨提示】<br/>
						1．套餐月基本费：即当月激活免费，参与存100送240，享首年29元/月，套餐内包含：65GB全国通用流量+300分钟语音+30G爱奇艺、腾讯视频、优酷视频、西瓜视频、抖音短视频、抖音火山版、快手、网易云音乐等应用定向流量。<br/>
						2．订购当月赠送30元话费，激活即可使用，不退返现金，不可抵扣国际业务、港澳台业务通信费和SP/CP等代收费用，赠送话费有效期截止激活后当月月底。<br/>
						3．激活后立即生效。首月执行过渡期资费，订购当月套餐月基本费按日计扣（入网当日到月底），费用四舍五入到分；套餐内容（语音、流量）按照对应流量和分钟数按天折算，向上取整。<br/>
						4 . 全国接听免费，赠送来电显示、天翼云盘-免费版、189邮箱-免费版。<br/>
						5．套餐超出资费：<br/>
						国内通用流量：套外流量计费规则：前167MB按0.03元/MB收费，达到167MB时，额外赠送用户857MB流量（即5元/GB）；后续仍按上述规则收费（即每超出1GB按照5元/GB收费）。当月满95g关闭上网功能，国内通话超出：0.1元/分钟，不足1分钟部分按1分钟计。国内短/彩信：0.1元/条。其他业务按照标准资费执行，国内通话和接听免费范围不包括港澳台地区。<br/>
						6．手机上网流量仅限中国大陆境内使用,不含 WLAN(Wi-Fi)上网。<br/>
						7．可订购各类流量包、语音包及短/彩信包产品。<br/>
						8．套餐内所含定向流量的计费层级高于所有流量产品，包括主套餐、各种其他流量包和流量卡。<br/>
						9．流量最小计费单元为KB,不足1KB部分按1KB计，不足1分钱的按1分钱计收。<br/>
						10．本套餐为组合套餐，其中30GB定向流量、65G通用流量、300分钟语音为组合与赠送部分。订购当月生效，不享受流量不清零服务，每月清零，不可结转。若变更套餐或取消，则套餐无法享受本优惠活动。<br/>
						所有APP“专属流量”使用说明<br/>
						（一）在电信网络下，使用对应免流APP产生的流量；<br/>
						（二）所使用的APP需升级到最新版本；<br/>
						（三）注册所有APP手机号码需与本机号码一致。<br/>
						专属流量不适用范围<br/>
						（一）在无线上网卡、移动WIFI、MIFI、平板电脑（如ipad）等设备使用时；<br/>
						（二）将手机号码作为手机热点使用时；<br/>
						（三）使用网络加速器、代理服务器、VPN等工具时；<br/>
						（四）在国际地区、港澳台使用时；<br/>
						（五）通过APP STORE或安卓市场等下载/更新应用时；<br/>
						（六）应用内开机广告及第三方广告时产生的流量；所有上传产生的流量。<br/>
						（七）应用中访问外部链接或转发到外部应用产生的流量；<br/>
						（八）APP内直播业务均不免流；<br/>
						（九）所有APP内的第三方提供的网页（手机百度搜索跳转的第三方网页除外）视频、图片、广告、应用下载等服务，例如手机新闻网、搜狗、携程、京东等非百度业务。<br/>
						12.购买须知<br/>
						1、限量发售，本套餐同一用户，电话，30天内只能办理一张，30天后可再次申请；<br/>
						2、发货后超过20天未激活，系统将自动注销；<br/>
						3、未满16周岁及60周岁以上用户不能办理入网；<br/>
						4、一证5号已满（实名五张电信卡的用户）不能办理；<br/>
						5、新疆 西藏 云南 海南 长沙 北京为禁发地区；<br/>
						6、套餐内包含95G流量，其中65G全国通用流量，30G定向流量。当月满95G关闭上网功能，次月初自动恢复。<br/>
						7、首月执行过渡期资费，订购当月套餐月基本费按日计扣（入网当日到月底），费用四舍五入到分，套餐内容（语音、流量）按照对应流量和分钟数按天折算，向上取整。<br/>
						8、全国流量号码可全国使用，不受号码归属地限制，号码享受优惠受归属地影响<br/>
						客服电话：4008005053
					</p>
					<span class="collapse-btn collapse-hide" @click="toggleDetail()">点击收起</span>
				</div>
			</div>
		</div>
	</body>
</html>
