<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>实名登记</title>
		<link rel="stylesheet" type="text/css" href="/iot-wechat-douyin/css/login.css" />
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_193604_z0flesbowe.css">
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_193604_z0flesbowe.css">
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<style type="text/css">

		</style>
	</head>
	<body>
		<div class="page-container">
			<div class="header">
				<div class="title">
					<span>实名登记</span>
				</div>
			</div>
			<form class="form" method="post">
				<input type="hidden" id="iccid" name="iccid" th:value="${iccid}">
				<input type="hidden" id="openid" name="openid" th:value="${openid}">
				<div class="form-item">
					<div class="form-item-input">
						<input type="text" id="name" name="name" class="input" placeholder="请输入真实姓名" required>
					</div>
				</div>
				<div class="form-item">
					<div class="form-item-input">
						<input type="text" id="identityCode" name="identityCode" class="input" placeholder="请输入身份证号" required>
					</div>
				</div>
				<div class="form-item">
					<div class="form-item-input">
						<input type="number" id="phone" name="phone" maxlength="11" autocomplete="off" class="input" placeholder="请输入手机号码">
					</div>
				</div>
				<div class="form-item">
					<div class="form-item-input">
						<input type="number" id="captchaSms" name="captchaSms" maxlength="6" autocomplete="off" class="input" placeholder="请输入短信验证码">
					</div>
					<a class="captcha-sms">获取验证码</a>
				</div>
				<button type="submit" class="login-button">下一步</button>
			</form>
		</div>

		<script src="/iot-wechat-douyin/js/jquery-1.11.2.min.js"></script>
		<script src="/iot-wechat-douyin/layer/layer.js"></script>
		<script src='https://res.wx.qq.com/open/js/jweixin-1.4.0.js'></script>
		<script src="http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js"></script>
		<script type="text/javascript">
			let openid = '';
			$(function () {
				openid = $("#openid").val();
				if (!openid) {
					layer.msg('请从微信公众号进入页面');
					return false;
				}
			});
			let iccid = '';
			$(function () {
				iccid = $("#iccid").val();
			});

			const phoneReg = /^1[0-9]{10}$/;

			// 点击发送验证码
			$('.captcha-sms').click(function() {
				let phone = $("#phone").val();
				if (!phone) {
					layer.msg('请输入手机号码');
					return false;
				}
				if (!phoneReg.test(phone)) {
					layer.msg('手机号格式不正确');
					return false;
				}

				sendCaptcha(phone);
			});

			/**
			 * 发送验证码
			 * @param phone
			 */
			function sendCaptcha(phone) {
				countDownHandler();

				$.ajax({
					dataType: "json",
					url: "/iot-wechat-douyin/common/sendCaptcha",
					data: {mobile: phone},
					type: "post",
					success: function (data) {
						layer.msg(data.msg);
					},
					error: function () {
						layer.msg('验证码发送异常');
					}
				});
			}

			/**
			 * 验证码倒计时
			 */
			function countDownHandler() {
				let count = 60;
				const countDown = setInterval(() => {
					if (count === 0) {
						$('.captcha-sms').attr('disabled', 'disabled');
						$('.captcha-sms').text('重新发送');
						$('.captcha-sms').removeClass('disable');
						clearInterval(countDown);
					} else {
						$('.captcha-sms').attr('disabled', true);
						$('.captcha-sms').addClass('disable');
						$('.captcha-sms').text(count + '秒后重发');
					}
					count--;
				}, 1000);
			}

			// 登记
			$(".form").submit(function () {
				let name = $("#name").val();
				if (!name) {
					layer.msg('请输入姓名');
					return false;
				}

				let identityCode = $("#identityCode").val();
				if (!identityCode) {
					layer.msg('请输入身份证号');
					return false;
				}

				let phone = $("#phone").val()
				if (!phoneReg.test(phone)) {
					layer.msg('手机号格式不正确');
					return false;
				}

				let captchaSms = $("#captchaSms").val();
				if (!captchaSms) {
					layer.msg('请输入短信验证码');
					return false;
				}
				let index = layer.load(2);
				$.ajax({
					url: "/iot-wechat-douyin/realnameRegister",
					data: {
						openid: openid,
						cardId: iccid,
						name: name,
						identityCode: identityCode,
						phone: phone,
						captchaSms: captchaSms
					},
					type: "post",
					success: function (res) {
						layer.close(index);
						if(res.success) {
							layer.open({
								type: 1,
								closeBtn: 0,
								shadeClose: true,
								title: '请复制以下号码后长按二维码进行认证',
								content: '<div><br><span style="margin-left: 35px;display: inline-block;vertical-align:middle"><strong style="font-size: 20px;color: red;">'+iccid.substr(0,19)+'</strong></span>' +
										'<span style="margin-left: 15px;display: inline-block;vertical-align:middle"><button id="copyIccid" type="button" class="btn btn-success">复制</button></span><br><br><img src="/iot-wechat-douyin/images/unicomAuth.png" style="height: 400px; width: 390px"></div>',
								shade: [0.8, '#393D49'],
								skin: 'demo-class'
							});
							$('#copyIccid').click(function() {
								let transfer = document.createElement('input');
								document.body.appendChild(transfer);
								transfer.value = iccid.substr(0,19);  // 这里表示想要复制的内容
								transfer.focus();
								transfer.select();
								if (document.execCommand('copy')) {
									document.execCommand('copy');
								}
								transfer.blur();
								document.body.removeChild(transfer);
								layer.msg('复制成功，请长按识别二维码继续认证', {icon: 1,time: 2000})
							})
						} else {
							layer.msg(res.message);
						}
					},
					error: function (e) {
						layer.close(index);
						layer.msg('登记失败，请重试！');
					}
				});
				return false;
			});
			//扫码
			function getMessage(){
				wx.scanQRCode({
					needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
					scanType: ["barCode"], // 可以指定扫二维码还是一维码，默认二者都有
					success: function (res) {
						var str = res.resultStr.split(',')[1];
						if(/^8986[A-Z0-9]{15,16}$/.test(str) || /^31\d{14}$/.test(str) || /^51\d{12}$/.test(str) || /^86\d{13}$/.test(str)){
							/*$inp.val(str); $_cls.show();*/
							document.getElementById("cardId").value = str;
						}else{
							layer.msg('请扫描流量卡ICCID或设备SN条形码');
						}
					}
				});
			}
		</script>
	</body>
</html>
